
.error {
    width: 60%;
    margin: 40px auto;
    text-align: center;

}

.error-icon {
    font-size: 2rem;
    color: crimson;
    margin-bottom: 20px;
}

.error h4 {
    color: crimson;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.home-link {
    display: block;
    margin: 40px auto;
    background-color: crimson;
    width: 200px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.home-link:hover {
    background-color: goldenrod;
    color: whitesmoke;
}