.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}


.navbar-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-link h1 {
    padding-left: 10px;
}

.navbar-others {
    display: flex;
    align-items: center;
}

.nav-right {
    padding-right: 20px;
    transition: all .5s ease-in-out;
}

.nav-right:hover {
    color: crimson;
}
.icon {
    font-size: 2rem;
    color: crimson;
}

