
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid red;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 80px;
    cursor: pointer;
}

.logo-icon {
    font-size: 1.4rem;
    color: crimson;
}

.navlinks {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-right: 80px;
    gap: 20px;
}

.navlink {
    text-transform: uppercase;
    font-size: 1.1rem;
    transition: all 1s ease-in-out;
}

.navlink:hover {
    font-weight: bold;
}

.active {
    border-bottom: 1px solid whitesmoke;
    color: crimson;
}
